*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Segoe UI", Arial, sans-serif;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
    background:
    radial-gradient(circle at top,#00d4ff22,transparent 40%),
    radial-gradient(circle at bottom,#7b2cff33,transparent 45%),
    #050816;
    color:white;
}

.contenedor{
    width:100%;
    max-width:600px;
    padding:30px;
    border-radius:20px;
    background:rgba(15,25,45,.65);
    backdrop-filter:blur(15px);
    border:1px solid rgba(0,255,255,.25);
    box-shadow:
    0 0 20px rgba(0,255,255,.15),
    0 0 60px rgba(0,0,0,.5);
}

.btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#00e5ff,#0066ff);
    color:white;
    font-size:18px;
    font-weight:bold;
    letter-spacing:2px;
    cursor:pointer;
    margin-bottom:25px;
    transition:.3s;
    box-shadow:0 0 15px #00d4ff88;
}

.btn:hover{
    transform:translateY(-3px);
    box-shadow:
    0 0 20px #00ffff,
    0 0 40px #00bfff;
}

.tabla{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.fila{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:12px;
}

.celda{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(0,255,255,.2);
    border-radius:12px;
    padding:15px;
    text-align:center;
    color:#00ffff;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
    box-shadow:0 0 10px rgba(0,255,255,.08);
}

.celda:hover{
    background:#00e5ff22;
    color:white;
    transform:scale(1.05);
    border-color:#00ffff;
    box-shadow:
    0 0 15px #00ffff,
    inset 0 0 10px #00ffff55;
}

/* Tablet */
@media(max-width:768px){

    .contenedor{
        max-width:95%;
        padding:25px;
    }

    .btn{
        font-size:16px;
    }

    .celda{
        font-size:16px;
    }

}

/* Celular */
@media(max-width:480px){

    .fila{
        grid-template-columns:1fr;
    }

    .btn{
        font-size:15px;
    }

    .celda{
        font-size:15px;
        padding:12px;
    }

}